<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">


    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <title>Email List Generator</title>
</head>
<body class="debug">
    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <div class="container" id="app">
        <!-- test -->
        <!-- <h1>{{message}}</h1> -->

        <h1>{{title}}</h1>

        <div class="email_list">
            <ul v-if="emails.length == 10">
                <li v-for="email in emails">{{email}}</li>
            </ul>

            <div v-else class="loading"> <i>Loading..</i> </div>
        </div>

    </div>

    <!-- js -->
    <script type="text/javascript" src="js/script.js"></script>
    
</body>
</html>